<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <!-- CSS Layout -->
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/lecturer_consultation/lecturer_booking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Book it</title>
</head>
<body>
    <div class="app">
        <img src="../images/battery_life.jpg" alt="default" />

        <div></div>

        <!-- Day's Timeline [hardcode] -->
        <ul id="timeline">
            <li class="occupy"><a href="#">  8am<br /><br />Having Meeting</a></li>
            <li class="occupy"><a href="#">  9am<br /><br />Lesson</a></li>
            <li><a href="#">  10am<br /><br /></a></li>
            <li><a href="#">  11am<br /><br /></a></li>
            <li class="occupy"><a href="#">  12pm<br /><br />Lunch Break</a></li>
            <li><a href="#">  1pm<br /><br /></a></li>
            <li><a href="#">  2pm<br /><br /></a></li>
            <li><a href="#">  3pm<br /><br /></a></li>
            <li class="occupy"><a href="#">  4pm<br /><br />Lesson</a></li>
            <li><a href="#">  5pm<br /><br /></a></li>
            <li><a href="#">  6pm<br /><br /></a></li>
        </ul>
        <!-- Home -->
        <button type="button" id="home" onclick="location.href='../index.html'">Return Home</button>

        <!--END of Code here-->
    </div>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>